.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 80%;
}

.header {
  background-color: #33658a;
  padding: 1rem;
  color: #fff;
}

.header h1 {
  margin: 0;
}

.forgery-types {
  padding: 1rem;
  background-color: #86bbd8;
  font-size: 1.2rem;
}

.features-list li {
  list-style: none;
  padding: 0.5rem;
  font-style: italic;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
}

.forgery-detection-system {
  background-color: #33658a;
  padding: 3rem;
}

.forgery-detection-system h1 {
  margin: 0;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.forgery-detection-system input[type="file"] {
  display: none;
}

.forgery-detection-system .upload-btn {
  padding: 1rem 2rem;
  background-color: aqua;
  font-size: 1.3rem;
  border-radius: 30px;
  text-align: center;
}

.forgery-detection-system label[htmlFor="fileInput"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgery-detection-system .upload-btn:hover {
  cursor: pointer;
}

.form label .photo-icon {
  text-align: center;
  padding: 1rem;
}

.form input[type="submit"] {
  padding: 1rem 2rem;
  background-color: aqua;
  font-size: 1.3rem;
  border-radius: 30px;
  text-align: center;
  border: 0;
}

.form input[type="submit"]:hover {
  cursor: pointer;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img #uploadedImage {
  margin: 2rem;
  border-radius: 20px;
  width: 30rem;
}

.img #heatmapImage {
  margin: 2rem;
  border-radius: 20px;
  width: 30rem;
}

.img .uploadedImage {
  border-radius: 20px;
  overflow: hidden;
}

.img .heatmapImage {
  border-radius: 20px;
  overflow: hidden;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.result table {
  border: 3px solid white;
  padding: 1rem;
}

.result table td {
  font-size: 1.2rem;
  font-weight: bold;
}

.process {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.process > * {
  margin: 1rem;
}

.process-step {
  padding: 2rem;
  background-color: #86bbd8;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.process-step:hover {
  background-color: #eee;
  outline: 1px solid #33658a;
  cursor: pointer;
}

.process-step p {
  width: 300px;
}

.process-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.heading-primary {
  font-size: 2.2rem;
}

.heading-secondary {
  font-size: 1.8rem;
}

p {
  line-height: 1.6;
}

.process-icon {
  display: flex;
  align-items: center;
}

.process-icon span {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .img {
    flex-direction: column;
  }
}
